html {
	/*1rem = 9px */
	font-size: 56.25%;
}

#showcase .showcase__container {
	width: 80%;
}

#showcase .showcase__content h1 {
	font-size: 5rem;
}

#showcase .showcase__content p {
	font-size: 2rem;
}

#home-info h2,
#services h2 {
	font-size: 3.5rem;
}

.home-info__content {
	padding: 3rem 2.5rem;
}

.services__container {
	gap: 30px;
}
