html {
	/*1rem = 8px */
	font-size: 50%;
}

:root {
	--primary: #1da382;
	--secondary: #8fffe3;
	--tertiary: #6ff0cf;
	--dark-yellow: #d9a338;
	--orange: #ffa17a;
	--black: #333;
	--white: #fff;
	--red: #f08d6e;
	--dark-green: #445c56;
}

nav {
	position: relative;
}

.checkbtn {
	display: block;
}

.navigation .nav-links {
	position: fixed;
	width: 100%;
	top: 6rem;
	right: -100%;
	height: calc(100vh - 6rem);
	background: var(--dark-green);
	z-index: 1;
	transition: all 0.5s;
}

.navigation .navigation__list {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navigation .navigation__list li,
.navigation .navigation__list li:not(:first-child) {
	margin: unset;
	margin-top: 2rem;
}

.navigation .navigation__list .list-item {
	margin: 0;
	font-size: 3rem;
	height: auto;
}

#check:checked ~ .nav-links {
	right: 0;
}

.home-info__container {
	flex-direction: column-reverse;
	align-items: center;
	height: 840px;
}

.home-info__content {
	justify-content: center;
	padding-top: 0;
}

.home-info__container .carousel {
	width: 85%;
}

#home-info {
	padding: 5rem 3rem;
	/* background-color: var(--secondary); */
}

.offers__container {
	flex-direction: column;
	gap: 60px;
}

.offers__container {
	align-items: center;
}

.offers__container > * {
	display: flex;
	flex-direction: column;
	width: 70%;
	text-align: center;
}

/*Rooms*/
#rooms .rooms__container {
	flex-direction: column;
	gap: 60px;
}

#rooms .rooms__container .room {
	width: 70%;
}

/* ********* */
/* ********* */
/*About page   */
#about .about__container {
	flex-direction: column;
}

#about .about__container .about__description {
	text-align: center;
}

#about .about__container .about__description {
	padding-left: 0;
	padding-right: 0;
}

.about__container .carousel {
	width: 50%;
}

#history .history__container {
	text-align: center;
}

/* ********* */
/* ********* */
/*Contact page   */
#contact-info .contact-info__container {
	flex-direction: column;
	align-items: center;
}

#contact-info .contact-info__container .contact:not(:first-child) {
	margin-top: 40px;
}

#contact-info .contact-info__container .contact i {
	font-size: 6rem;
}

#contact-form .form-container .form-picture {
	align-self: center;
	margin-bottom: 6rem;
	margin-top: 0;
}

/* ********* */
/* ********* */
/*Library page   */

#library .library__container {
	padding-left: 0;
	padding-right: 0;
	width: 95%;
}

/* ********* */
/* ********* */
/*room  gallery */
.room-gallery .gallery__container {
	flex-direction: column;
	gap: unset;
}

.room-gallery .gallery__container .gallery-picture {
	width: 70%;
}

.room-gallery .gallery__container .gallery-picture:not(:first-child) {
	margin-top: 40px;
}
