*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--primary: #1da382;
	--secondary: #8fffe3;
	--tertiary: #6ff0cf;
	--dark-yellow: #d9a338;
	--orange: #ffa17a;
	/*--orange: #a3472a;*/
	--black: #333;
	--white: #fff;
	--red: #f08d6e;
	--new-red: #d97548;
	--orange-text: #d97548;
	--light-green-background: #e6fff5;
}

html {
	/* 1rem = 10px */
	font-size: 62.5%;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	padding-bottom: 2rem;
}

p {
	margin: 1rem 0;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/* Utility clases */
.container {
	margin: 0 auto;
	max-width: 1800px;
	padding: 0 4rem;
}

.text-primary {
	font-size: 2rem;
}

section#home-info .title-section {
	position: relative;
	color: var(--orange-text);
	padding-bottom: 10px;
}

section#home-info .title-section::before {
	content: '';
	background-color: #ffa17a;
	width: 60%;
	height: 3px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
/* 
section#home-info .title-section::after {
	content: '';
	background-color: #ffa17a;
	width: 35%;
	height: 2px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
} */
.btn {
	display: inline-block;
	font-size: 1.8rem;
	color: #fff;
	background: var(--primary);
	padding: 1.3rem 2rem;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: var(--secondary);
	color: var(--orange);
}

/* Navigation */

.navigation {
	width: 100%;
	background-color: var(--primary);
	height: 6rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

.navigation .navigation__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	/*background-color: green;*/
}

.navigation h1 {
	padding: 0;
	align-self: center;
	font-size: 2rem;
}

.navigation h1 a {
	color: #fff;
}

.navigation .nav-links {
	flex: 1;
	text-align: center;
	height: 100%;
}

.navigation .navigation__list {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navigation .navigation__list li {
	margin-left: 5rem;
	position: relative;
}

.navigation .navigation__list li::after {
	content: '';
	width: 0;
	height: 2px;
	background: var(--orange);
	display: block;
	margin: auto;
	transition: all 0.5s;
	margin-top: 3px;
}

.navigation .navigation__list a {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--white);
}

.navigation .navigation__list li:hover::after {
	width: 100%;
}

.checkbtn {
	font-size: 20px;
	color: var(--white);
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

/* Header */

header {
	width: 100%;
	height: calc(100vh - 6rem);
	margin-top: 6rem;
}

#showcase {
	width: 100%;
	height: 100%;
	background: url('../images/Casa_Mica.png') no-repeat center center/cover;
	position: relative;
}

#showcase .showcase__container {
	border: 3px solid var(--primary);
	width: 70%;
	border-radius: 25px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	padding: 4rem 5rem;
	background-color: rgba(51, 51, 51, 0.7);
}

#showcase .showcase__content {
	color: #fff;
	text-align: center;
}

#showcase .showcase__content h1 {
	font-size: 6rem;
	color: var(--orange);
	font-weight: bold;
}

/*Home info*/
#home-info {
	text-align: center;
	padding: 5rem 4rem;
	/*background-color: var(--secondary);*/
}

#home-info h2 {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.home-info__container {
	display: flex;
	align-items: center;
}

.home-info__img {
	flex-basis: 50%;
}
.home-info__content {
	flex-basis: 50%;
}

.home-info__container .home-info__img img {
	width: 100%;
	border-radius: 20px;
	box-shadow: -3px 2px 6px 3px rgb(0 0 0 / 20%);
}

.home-info__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	align-self: center;
	background-color: var(--white);
	padding: 4rem;
}

.home-info__content p {
	font-size: 1.5rem;
}

.home-info__content p span {
	color: var(--orange-text);
	font-weight: bold;
}

.home-info__content a {
	margin-top: 3rem;
}

/*services*/
#services {
	text-align: center;
	background-color: var(--light-green-background);
	padding: 5rem 0;
}

#services h2 {
	font-size: 4rem;
	margin-bottom: 3rem;
	color: var(--primary);
}

.services__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	gap: 60px;
}

.services__container > * {
	flex-basis: 100%;
}

.services__container .service p {
	font-size: 2rem;
}

.services__container .service p span {
	font-size: 2.5rem;
	color: var(--primary);
	font-weight: bold;
}

.services__container .service-picture {
	height: 346px;
}

.services__container .service-picture img {
	height: 100%;
}

/*Footer*/

#footer {
	text-align: center;
	background-color: var(--primary);
	color: #fff;
	padding: 2rem;
}

#footer p {
	margin: 0;
	font-size: 1.5rem;
}

/* ********* */
/* ********* */
/*Contact page   */
#section-container {
	height: calc(100vh - 6rem);
	width: 100%;
	margin-top: 6rem;
}

#contact-form {
	padding: 4rem 0;
	margin-top: 6rem;
	/*margin-top: 5%;
	height: calc(100vh - 12rem);*/
}

#contact-form h1 {
	font-size: 4rem;
	color: var(--primary);
	padding: 0;
}

#contact-form p {
	font-size: 1.7rem;
	margin-bottom: 3rem;
	color: var(--primary);
}

#contact-form .form-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#contact-form .form-container form {
	flex-basis: 50%;
}

#contact-form .form-container .form-picture {
	flex-basis: 40%;
	margin-top: 2.5rem;
}

#contact-form .form-group {
	margin-bottom: 2rem;
}

#contact-form label {
	display: block;
	margin-bottom: 5px;
	font-size: 1.5rem;
}

#contact-form input,
#contact-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
}

#contact-form textarea {
	height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
	outline: none;
	border-color: var(--primary);
}

#contact-info {
	margin-top: 2.6rem;
	padding: 4rem 0;
	background-color: var(--light-green-background);
}

#contact-info .contact-info__container {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

#contact-info .contact-info__container > * {
	flex-basis: 100%;
	text-align: center;
}

#contact-info .contact-info__container .contact i {
	font-size: 5rem;
	color: var(--primary);
}

#contact-info .contact-info__container .contact .phone-number {
	font-size: 2rem;
}

#contact-info .contact-info__container .contact h3 {
	padding-bottom: 0;
	font-size: 2rem;
	margin-top: 1.5rem;
}

#contact-info .contact-info__container .contact p {
	font-size: 1.5rem;
}

.whatsapp-button {
	position: fixed;
	bottom: 65px;
	right: 20px;
	background-image: url(../images/whatsapp_final.png);
	background-size: contain;
	width: 50px;
	height: 50px;
}
